<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新型观测资料-微波辐射计-水汽时序</title>
    <link rel="stylesheet" href="/demo.css" />
    <link rel="stylesheet" href="/microwave-radiation.css" />
  </head>

  <body>
    <div class="weather">
      <div class="mychart" id="myChart"></div>
    </div>
    <script type="text/javascript" src="/libs/echarts.min.js"></script>
    <script type="module">
      import temperatureData from "/data/microwaveRadiation/echartData.js";
      let tempChart = null;

      let yData = temperatureData.data.stationInfo.heightLayers;

      let moistureList = temperatureData.data.list;
      let xData = temperatureData.data.list.map((item) => item.dateTime);
      let length = temperatureData.data.list[0].moisture.length;
      let seriesData = [],
        seriesD = [],
        options;

      for (let j = 0; j < xData.length; j++) {
        for (let index = 0; index < length; index++) {
          seriesD.push([xData[j], String(yData[index]), String(moistureList[j].moisture[index])]);
        }
      }
      seriesData.push({
        data: seriesD,
        type: "heatmap",
        name: "水汽时序",
        emphasis: {
          itemStyle: {
            borderColor: "#333",
            borderWidth: 1,
          },
        },
        progressive: 1000,
        animation: false,
      });
      var colorData = ["#d12fff", "#906ffe", "#6f8ffd", "#50afff", "#32ceff", "#10efff", "#10efff"];

      function getEchart() {
        options = {
          title: {
            text: "水汽时序",
          },
          tooltip: {
            //鼠标移入图例，展示内容
            /* trigger: 'axis',
       axisPointer : {            // 坐标轴指示器，坐标轴触发有效
           type : 'line'        // 默认为直线，可选为：'line' | 'shadow'
       }*/
          },
          xAxis: {
            name: "时间",
            type: "category",
            data: xData,
          },
          grid: {
            top: 90,
            left: 90,
            right: 90,
            bottom: 50,
          },
          yAxis: {
            type: "category",
            data: yData,
            name: "高度（km）",
            // nameGap: 50,
            // nameLocation: "middle",
            nameTextStyle: {
              fontSize: 15,
            },
          },
          visualMap: {
            color: colorData,
            min: 0,
            max: 16,
            hoverLink: false, //取消示例图与左边数据关联
            precision: 2, //展示示例图展示数据的小数点保留位数
            calculable: true,
            orient: "vertical",
            //left: 'left', 控制示例图在左边或者右边展示
            left: "right",
            bottom: "56%",
          },
          series: seriesData,
          label: {
            normal: {
              //是否网格点位数值
              show: true,
            },
          },
          itemStyle: {
            emphasis: {
              shadowBlur: 10,
              shadowColor: "rgba(0, 0, 0, 0.5)",
            },
          },
        };
        tempChart.setOption(options);
        tempChart.resize();
      }
      const chatResrt = () => {
        tempChart.resize();
      };
      const initChart = () => {
        tempChart = echarts.init(document.getElementById("myChart"));
        window.addEventListener("resize", () => {
          chatResrt();
        });
      };
      window.onload = () => {
        initChart();
        getEchart();
      };
    </script>
  </body>
</html>
