<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>航线动画</title>
    <link rel="stylesheet" href="/demo.css" />
  </head>
  <body>
    <div id="app">
      <div id="map"></div>
    </div>

    <script type="text/javascript" src="/libs/cme2d.js"></script>
    <script type="text/javascript" src="/libs/cme-core.umd.cjs"></script>
    <script type="module">
      import ShipRouteAnimation from '/public/libs/ShipRoute/ShipRouteAnimation.js'
      const { Map: CMEMap, View, layer } = window.CME2D
      const { Point } = window.CME2D.geom
      const { Style, Stroke } = window.CME2D.style
      const { XYZ } = window.CME2D.source
      let map, measure, get_current_route
      function initData(map) {
        fetch('/cme/data/shipRouteAnimation/get_current_route.json')
          .then((res) => res.json())
          .then((res) => {
            const sra = new ShipRouteAnimation({
              map,
              width: 3,
              width2: 10,
              color: '#ff0000',
              color2: '#ffffff',
            })
            sra.render(res.data.list)
          })
        fetch('/cme/data/shipRouteAnimation/get_current_route_1.json')
          .then((res) => res.json())
          .then((res) => {
            const sra = new ShipRouteAnimation({ map })
            sra.render(res.data.list)
          })
      }
      function initMap() {
        map = new CMEMap({
          target: document.querySelector('#map'), //挂载实例
          layers: [
            new layer.Tile({
              source: new XYZ({
                url: 'https://webrd01.is.autonavi.com/appmaptile?lang=zh_cn&size=1&scale=1&style=8&x={x}&y={y}&z={z}', // 内网地址
              }),
            }),
          ],
          view: new View({
            //地图视图
            center: [173, 35],
            projection: 'EPSG:4326',
            zoom: 3,
            wrapX: true,
          }), //地图设置
          controls: [], //取消地图操作
        })
        initData(map)
      }
      window.onload = function () {
        initMap()
      }
    </script>
  </body>
</html>
