@font-face {
  font-family: "iconfont"; /* Project id 4575782 */
  src: url('iconfont.eot?t=1717740341780'); /* IE9 */
  src: url('iconfont.eot?t=1717740341780#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1717740341780') format('woff2'),
       url('iconfont.woff?t=1717740341780') format('woff'),
       url('iconfont.ttf?t=1717740341780') format('truetype'),
       url('iconfont.svg?t=1717740341780#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zheng_1ji:before {
  content: "\e794";
}

.icon-zheng_2ji:before {
  content: "\e795";
}

.icon-zheng_0ji:before {
  content: "\e796";
}

.icon-zheng_21ji:before {
  content: "\e784";
}

.icon-zheng_13ji:before {
  content: "\e783";
}

.icon-zheng_18ji:before {
  content: "\e785";
}

.icon-zheng_20ji:before {
  content: "\e786";
}

.icon-zheng_16ji:before {
  content: "\e787";
}

.icon-zheng_19ji:before {
  content: "\e788";
}

.icon-zheng_17ji:before {
  content: "\e789";
}

.icon-zheng_15ji:before {
  content: "\e78a";
}

.icon-zheng_12ji:before {
  content: "\e78b";
}

.icon-zheng_14ji:before {
  content: "\e78c";
}

.icon-zheng_8ji:before {
  content: "\e782";
}

.icon-zheng_11ji:before {
  content: "\e78d";
}

.icon-zheng_10ji:before {
  content: "\e78e";
}

.icon-zheng_9ji:before {
  content: "\e78f";
}

.icon-zheng_7ji:before {
  content: "\e790";
}

.icon-zheng_6ji:before {
  content: "\e781";
}

.icon-zheng_4ji:before {
  content: "\e791";
}

.icon-zheng_5ji:before {
  content: "\e792";
}

.icon-zheng_3ji:before {
  content: "\e793";
}

